.nav.nav-tabs.nav-top-border .nav-item a.nav-link {
    display: block;
    text-align: center;
}

    .nav.nav-tabs.nav-top-border .nav-item a.nav-link span {
        display: block;
        border-top: solid 1px #aeaeae;
    }

.details-data {
}

.details-container {
    display: flex;
    justify-content: space-between;
    padding: 11px;
}

    .details-container p lable {
        padding: 1px 6px;
        border-radius: 3px;
        background-color: orange;
        color: #fff;
        font-size: 12px;
    }

#DefaultSelect {
    height: calc(2.75rem + 2px);
}

.timelap {
    background-color: #e8e8e8;
    color: #000;
    padding: 3px 6px;
}







/*.nav > li > a > img {display:inline-block !important;}

.app-details-wrapper {
    background-color: #f5f5f5;
    padding-top: 2%;
}
#app-container .nav-pills > li > a {
  border-radius: 4px 4px 0 0;
  text-align: center;
  line-height: 2;
  border: solid 1px #aeaeae;
}

#app-container .tab-content {
  border-top: solid 3px #428bca;
}
#app-container .nav-pills li span {
  display: block;
  border-top: solid 1px #aeaeae;
}
#app-container .nav-pills li.active span {
  border-top: solid 1px #fff;
}
.details-container {
  display: flex;
  align-items: flex-start;
  padding: 9px;
}
.details-container h2 {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
.details-container img {
  margin-right: 0.75rem;
  border-radius: 0.25rem;
}
.details-container h4 {
  font-size: 14px;
  margin: 0;
}
.details-container h5 {
  margin: 0;
  padding: 0;
}
.details-container p {
  margin: 0;
}
.details-container p lable {
  padding: 1px 6px;
  border-radius: 3px;
  background-color: orange;
  color: #fff;
  font-size: 12px;
}
.details-data {
  width: 30%;
}
.timelap {
  background-color: #e8e8e8;
  color: #000;
  padding: 3px 6px;
}
.label {
  white-space: normal !important;
}
.bootstrap-tagsinput {
  display: block !important;
}
.filter-icons {
  float: right;
  border: solid 1px #a5a5a5;
  border-radius: 6px;
  display: flex;
  align-items: 3;
}
.filter-icons a {
  font-size: 14px;
  padding: 6px;
  margin: 0 8px;
  border-right: solid 1px #aeaeae;
}
.filter-icons a:last-child {
  border-right: 0;
}
.filter-icons a i {
  margin-right: 6px;
}*/
